# IPv 6
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.gyxhfeybrhcewtrxisrt.supabase.co:5432/postgres

# IPv 4
# DATABASE_URL=postgresql://postgres.gyxhfeybrhcewtrxisrt:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres